html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

section {
    display: flex;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
}

h2 {
    font-weight: 400;
    font-size: 1.25rem

}

/*Header*/

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
  }
  
  .headerlogo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
  }
  
  .headerlogo span {
    font-size: 1.125rem;
    vertical-align: middle;
    line-height: 27px;
  }
  
  #headerbold {
    font-weight: bold;
    color: black;
  }
  
  #headerlight {
    font-weight: lighter;
    color: lightslategray;
  }
  
  nav ul {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
  }
  
  ul li a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
  }
  nav.mobile {
    display: none;
  }
  
  /*Header for Mobile*/

@media only screen and (max-width: 640px) {
    header .logo, header nav {
      display: none;
    }

    .headerlogo {
        display: none
    }
  
    nav.mobile, nav.mobile ul {
      display: inline-flex;
      justify-content: space-around;
      width: 100%;
  
    }

  }   


section.learn {
    top: 4rem;
    background-color: lightgray;
}

.learn-image {
    width: 60%;
    height: auto;
    margin: 6rem 1.5rem 2rem 1.5rem;
}

.learn-image img {
    width: 100%;
    height: auto;
}

.learn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 30%;
}

.learn-content a {
    margin-top: 1.5rem;
    background-color: black;
    width: 60%;
    text-align: center;
    color: white;
    padding: .5rem 0 .5rem 0;
}

.learn-content h1 {
    color: black;
    margin-bottom: 1rem;
}