html body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

section {
    display: flex;
}

h1 { font-size: 2.25rem;  /* 16x2.25=36 */ 
     font-weight: 850;
     line-height: 2.5rem;
    }
h2 { font-size: 1.5rem;   /* 16x1.5=24 */ 
     font-weight: 725;
    }
h3 { font-size: 1.125rem; /* 16x1.125=18 */ 
     font-weight: 600;
     line-height: 1.5rem;
    }
h4 { font-size: 0.875rem; /* 16x0.875=14 */ }
p  { font-size: 0.75rem;  /* 16x0.75=12 */ }

/*Header*/

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
  }
  
  .headerlogo {
    display: inline-flex;
    align-items: center;
    margin-left: 24px;
  }
  
  .headerlogo span {
    font-size: 1.125rem;
    vertical-align: middle;
    line-height: 27px;
  }
  
  #headerbold {
    font-weight: bold;
    color: black;
  }
  
  #headerlight {
    font-weight: lighter;
    color: lightslategray;
  }
  
  nav ul {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
  }
  
  ul li a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
  }
  nav.mobile {
    display: none;
  }
  
/*Header for Mobile*/

@media only screen and (max-width: 620px) {
    header .logo, header nav {
      display: none;
    }

    .headerlogo {
        display: none
    }
  
    nav.mobile, nav.mobile ul {
      display: inline-flex;
      justify-content: space-around;
      width: 100%;
  
    }

  }   


/*Learn Banner Section with Grey Background*/

section.learn {
    top: 4rem;
    background-color: lightgray;
}

.learn-image {
    width: 60%;
    height: auto;
    margin: 6rem 1.5rem 2rem 1.5rem;
}

.learn-image img {
    width: 100%;
    height: auto;
}

.learn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 35%;
    align-self: center;
}

.learn-content a {
    margin-top: 1.5rem;
    background-color: black;
    width: 75%;
    text-align: center;
    color: white;
    padding: .5rem 0 .5rem 0;
}

.learn-content h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 3.75rem;
}

.learn-content h3 {
    margin-bottom: 1rem;
    margin-right: 5.25rem;
}

/*Learn Banner for Mobile*/

@media only screen and (max-width: 768px) {
    
    section.learn {
        flex-direction: column;
        width: 100%;
        align-items: center
    }

    .learn-image {
        width: 100%;
        height: 16rem;
        background-image: url(../images/banner.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        margin: 4rem 0 0 0;
      }

      .learn-image img {
          display: none;
      }

      .learn-content {
          width: 100%;
      }

      .learn-content h1, .learn-content h3 {
          margin: 2rem 1rem 0 1rem;
      }

      .learn-content a {
          margin: 1.5rem auto 2rem auto;
      }
}

/*Information Block*/

.practice {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem;
}

.practice img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.practice h2 {
    margin-bottom: 1.5rem;
}

.practice p {
    margin-bottom: 1.5rem;
}

.practice .author {
    font-size: .6rem;
    font-weight: 600;
    margin-bottom: 0;
}

.sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2rem 0;
}

.sideblock {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
}

.sidepic {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.sidetext {
    width: 65%;
}

.sidetext h3 {
    padding-bottom: .5rem;
}

.sidetext p {
    padding-bottom: .75rem;
}

.sidetext a {
    color: blue;
    font-size: .75rem;
}

#greyblock {
    background-color: lightgray;

}

.mobileinfo {
    display: none;
}

.mobileinfo img {
    height: auto;
    margin: 1rem;
    width: 93%;
}

.mobiletext {
    margin-left: 2rem;
}

.mobiletext h3, p {
    padding-bottom: 1rem;
}

.mobiletext a {
    color: blue;
    padding-bottom: 2rem;
}

.mobilebar {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 620px) {
    .information {
        display: none;
    }

    .mobileinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



/*Classes Block*/

.classes {
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.classes h2 {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.classes-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    }

.class-holder {
    max-width: 26%;
    background-color: white;
    margin-bottom: 2rem;
}

.class-holder img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.class-holder .sidetext {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.class-holder p {
    margin-top: .5rem;
}

.classes-mobile {
    display: none;
}

@media only screen and (max-width: 620px) {
    .classes {
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .classes-block {
        display: none;
    }

    .classes-mobile {
        display: block;
        justify-content: center;
        width: 90%;
        margin-bottom: 2rem; 
   }

    .classes-mobile h3{
        background-color: lightgray;
        padding: 1rem 0 1rem 1rem;
        margin-bottom: .5rem;
    }
}


/* Thesis Block */

.thesis {
    flex-direction: column;
    align-items: center;    
}

.thesis h2 {
    margin: 2rem auto;
}

.thesis-content {
    display: flex;
}

.thesis-main {
    width: 60%;
}

.thesis-main video {
    margin-left: 1.5rem;
    width: 95%;
}

.thesistext{
    margin: 1.5rem;
}

.thesisbar {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.thesisbar .sideblock img {
    width: 35%;
    height: auto;
    padding: 1rem;
}

.video-mobile {
    display: none;
}

@media only screen and (max-width: 620px) {
    .thesis-content {
        display: none;
    }

    .video-mobile {
        display: block;
    }

    .thesis h2 {
        margin: 2rem auto 1rem auto;
    }
}